container_commands:
  01_create_halo_dir:
    test: '[ ! -d /opt/elasticbeanstalk/halo ]'
    command: "mkdir /opt/elasticbeanstalk/halo"

  02_copy_installation_script:
    command: "cp -R .ebextensions/ /opt/elasticbeanstalk/halo/"

  03_execute_installation_script:
    test: '[ ! -d /opt/cloudpassage ]'
    command: "sh /opt/elasticbeanstalk/halo/.ebextensions/install_halo.sh"

